.headaing-base {
    text-align: center;
}

footer {
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
}

.footer-info{
    margin-inline: 0.5rem;
}

#user-profile,
#schedule,
#user-grades,
#about-us {
    margin-top: 1rem;
}