*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
    height: 100vh;
}

body {
    font-family: system-ui;
}

.main-page h2{
    text-align: center;
}

.main-paragraph{
    text-align: center;
    font-size: 1.2rem;
}

#user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-shrink: 0;
}


#user-profile-info p {
    padding: 1rem;
    gap: 1rem;
}
#user-profile-info h3 {
    padding: 1rem;
}

#user-profile-info input {
    margin: 0.5rem;
    display: flex;
}


#user-profile-info button {
    margin: 0.5rem;
    align-items: center;
}

button {
    border-radius: 1rem;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.schedule h3{
    font-size: 1.5rem;
    color: var(--text-600);
    margin-bottom: 1rem;
}